.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: hsla(0, 5%, 23%, 1);
  // Photo by Felix Mooneeram on Unsplash https://unsplash.com/@felixmooneeram
  background-image:
  linear-gradient(to bottom, hsla(0, 15%, 15%, 0.25),hsla(0, 25%, 10%, .5)),
  url('https://raw.githubusercontent.com/tilleraj/MovieMinder/master/movieminder.ui/assets/theatre.jpg');
  background-size: auto 150vh;
  background-position: top center;
}