body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-color: hsla(0, 5%, 23%, 1);
  // Photo by Felix Mooneeram on Unsplash https://unsplash.com/@felixmooneeram
  background-image:
  linear-gradient(to bottom, hsla(0, 15%, 85%, 0.75),hsla(0, 10%, 75%, .55)),
  url('https://raw.githubusercontent.com/tilleraj/MovieMinder/master/movieminder.ui/assets/theatre.jpg');
  background-size: auto 150vh;
  background-position: top center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
